<!DOCTYPE>
<html ng-app="app">

<head>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="css/reservation.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>
        Резервация
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">C a p o</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Начало
                <span class="sr-only">(current)</span>
              </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Резервации</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Контакт</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="reservation">
            <h1 class="display-1 text-white">Резервации</h1>
            <h2 class="display-4 text-white">Направи резервация</h2>
        </header>
    <div class="container" ng-controller="appCtrl as ctrl">
        
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="field in ctrl.fields">
                        {{field.label}}
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tr>{{ctrl.contact}}
                <td ng-repeat="field in ctrl.fields">
                    <input id="infoInput" ng-model="ctrl.record[field.key]" class="form-control" placeholder="{{field.label}}" />
                </td>
                <td>
                    <button ng-click="ctrl.saveRecord()" class="btn btn-primary">Запиши</button>
                    <button ng-click="ctrl.cancelEdit()" class="btn btn-warning">Изчисти</button>
                </td>
            </tr>
            <tr ng-repeat="record in ctrl.records">
                <td ng-repeat="field in ctrl.fields">
                    {{record[field.key]}}
                </td>
                <td>
                    <span ng-click="ctrl.editRecord(record)" class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-right: 10px;"></span>
                    <span ng-click="ctrl.deleteRecord(record._id)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </td>
            </tr>
        </table>
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; EDimitrov 2017</p>
        </div>
        <!-- /.container -->
    </footer>
    <script>

        if ($('#infoInput').val() != ''){
            prompt('deeeba');
        }
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    
    <script src="app.js"></script>
</body>

</html>